form{
    max-width: 500px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
form label{
    display: block;
    margin-top: 10px;
}
form input,form textarea{
    width: 100px;
    padding: 8px;
    margin-top: 5px;
}
button{
    margin-top: 15px;
    background: none;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}